.task{
  /* display: grid;
  grid-template-columns: 50% 50%;
  width: 150px;
  align-items: center; */
  width: 250px;
  padding: 10px;
  margin: 1rem;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
  text-align: center;
  background-color: white;
  border-radius: 3px;
}

.column{
  align-content: center;
  align-items: center;
}

.button{
  width: 90px;
  height:30px;
  text-align: center;
  align-items: center;
  margin-top:8%;
  cursor: pointer;
}

.button2{
  width: 100px;
  height:25px;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.item{
  cursor: pointer;
}

.item:hover{
  background-color: red;
}
